/*body {
  opacity: 0.69;
  background: #16A9C7;
  font-family: 'Dosis', sans-serif;
}*/
h1 {
  /* West Coast Marine Ne: */
  font-family: Dosis-Bold;
  font-size: 50px;
  color: #FFFFFF;
  letter-spacing: 1.45px;
  z-index: +1
}

h2 {
  /*Header text*/
font-family: Dosis-ExtraBold;
font-size: 24px;
color: #000000;
letter-spacing: 0.69px;
z-index: +1
}

h3 {
font-family: Dosis-Regular;
font-size: 24px;
color: #000000;
letter-spacing: 0.69px;
}

h4 {
font-family: Dosis-Bold;
font-size: 24px;
color: #000000;
letter-spacing: 0.69px;
}

p {
font-family: Dosis-Regular;
font-size: 16px;
color: #000000;
letter-spacing: 0.46px;
line-height: 24px;
}

.white-text {
  color: #FFFFFF
}

.title-bar {
  font-family: 'Cinzel', serif;
  color: white;
}


.callout {
  object-position: center;
  opacity: 0.67;
  background: #D8D8D8;
  border-radius: 20px;
}

.callout h2, .callout p {
  text-align: center;
}

.down-arrow {
  display: block;
  margin: auto;
}

#landing-pane {
  height: 564px;
  background-image: url(../img/landing-background.png);
  background-size: cover;
}

#dark-pane {
  height: 564px;
  background-image: linear-gradient(-34deg, #6C787B 0%, #3A4345 71%);
  object-position: center;
}

#light-pane {
height: 564px;
background-image: linear-gradient(38deg, #16A9C7 0%, #DAEEF3 52%);
object-position: center;
}

#inspiration-sites {
  display: block;
  margin: auto;
}
